p #{pheader}  
textarea(rows= "77 ",id="data",style="width:100%;height:92%;background:#000000;color:#FFFFFF")  #{data}

script.
        document.getElementById("data").scrollTop=document.getElementById("data").scrollHeight;
